
<div class="page-content-fixed-header">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:;">Nghiệp vụ</a>
        </li>
        <li>
            <a ui-sref="phieusangloclist">Phiếu sàng lọc</a>
        </li>
        <li>Chỉnh sửa thông tin phiếu</li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">Thông tin phiếu</span>
                </div>
            </div>
            <div class="portlet-body">
                <form role="form" name="frmUpdatePhieuSangLoc" ng-submit="UpdatePhieuSangLoc()">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="form-group form-group-sm">
                                <div class="col-md-3">
                                    <div id="barcodeTarget" class="barcodeTarget"></div>
                                    <canvas id="canvasTarget" width="150" height="150"></canvas>
                                </div>
                                <label class="col-md-3 control-label">Mã phiếu:</label>
                                <div class="col-md-6">
                                    <input type="text" id="maphieu" name="maphieu" ng-model="phieusangloc.IDPhieu" class="form-control" placeholder="Nhập mã phiếu" readonly>
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 col-md-offset-3 control-label">Đơn vị:</label>
                                <div class="col-md-6">
                                    <select class="form-control" ng-model="phieusangloc.MaDVCS" name="MaDVCS" ng-options="option.MaDVCS as option.TenDVCS for option in donvi">
                                        <option value="">Chọn đơn vị...</option>
                                    </select>
                                    <input type="hidden" name="phieusangloc.MaDVCS" ng-model="phieusangloc.MaDVCS" />
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-md-3 col-md-offset-3 control-label">Chương trình:</label>
                                <div class="col-md-6">
                                    <select class="form-control" ng-model="phieusangloc.IDChuongTrinh" name="IDChuongTrinh" ng-options="option.IDChuongTrinh as option.TenChuongTrinh for option in chuongtrinh">
                                        <option value="">Chọn chương trình....</option>
                                    </select>
                                    <input type="hidden" name="phieusangloc.IDChuongTrinh" ng-model="phieusangloc.IDChuongTrinh" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <hr />
                            <i class="icon-social-dribbble font-blue-sharp"></i>
                            <span class="caption-subject font-blue-sharp bold uppercase">Thông tin gia đình</span>
                            <br />
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Tên mẹ:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.MotherName" placeholder="Nhập tên mẹ">
                                        </div>
                                        <label class="col-md-2 control-label">Tên cha:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.FatherName" placeholder="Nhập tên cha">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Năm sinh:</label>
                                        <div class="col-md-4">
                                            <input class="form-control form-control-inline DatePicker" ng-model="phieusangloc.MotherBirthday" size="16" type="text" value="" placeholder="Nhập năm sinh mẹ" />
                                        </div>
                                        <label class="col-md-2 control-label">Năm sinh:</label>
                                        <div class="col-md-4">
                                            <input class="form-control form-control-inline DatePicker" ng-model="phieusangloc.FatherBirthday" size="16" type="text" value="" placeholder="Nhập năm sinh cha" />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Số ĐT:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.MotherPhoneNumber" placeholder="Nhập số đt mẹ">
                                        </div>
                                        <label class="col-md-2 control-label">Số ĐT:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.FatherPhoneNumber" placeholder="Nhập số đt cha">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Địa chỉ:</label>
                                        <div class="col-md-10">
                                            <input type="text" name="diachi" ng-model="phieusangloc.DiaChi" class="form-control" placeholder="Địa chỉ">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">PP sinh:</label>
                                        <div class="col-md-10">
                                            <select class="form-control" ng-model="phieusangloc.PhuongPhapSinh">
                                                <option value="">Chọn....</option>
                                                <option ng-value="0">Sinh thường</option>
                                                <option ng-value="1">Sinh đẻ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">PARA:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" ng-model="phieusangloc.Para" placeholder="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <i class="icon-social-dribbble font-blue-sharp"></i>
                            <span class="caption-subject font-blue-sharp bold uppercase">Thông tin đơn vị</span>
                            <br />
                            <br />
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">Nơi lấy mẫu:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="phieusangloc.NoiLayMau" placeholder="Nhập nơi lấy mẫu">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">Địa chỉ:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="phieusangloc.DiaChiLayMau" placeholder="Nhập địa chỉ">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">Người lấy mẫu:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.TenNhanVienLayMau" placeholder="Nhập người lấy mẫu">
                                        </div>
                                        <label class="col-md-2 control-label">SĐT:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" ng-model="phieusangloc.SDTNhanVienLayMau" placeholder="Nhập sđt">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">Ngày lấy mẫu:</label>
                                        <div class="col-md-4">
                                            <input class="form-control form-control-inline DatePicker" ng-model="phieusangloc.NgayGioLayMau" size="16" type="text" value="" placeholder="Nhập ngày lấy  mẫu" />
                                        </div>
                                        <label class="col-md-2 control-label">Vào lúc:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control TimePicker" ng-model="phieusangloc.NgayGioLayMauTime" value="12:00 AM">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">M.Phiếu lần 1:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="phieusangloc.IDPhieuLan1" placeholder="Nhập mã phiếu lần 1">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <hr />
                            <i class="icon-social-dribbble font-blue-sharp"></i>
                            <span class="caption-subject font-blue-sharp bold uppercase">Thông tin trẻ</span>
                            <br />
                            <br />
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Tên trẻ:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" ng-model="phieusangloc.TenBenhNhan" placeholder="Nhập tên trẻ">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Giới tính:</label>
                                        <div class="col-md-10">
                                            <select class="form-control" name="GioiTinh" ng-model="phieusangloc.GioiTinh" ng-options="option.id as option.name for option in sex">
                                                <option value="">Chọn....</option>
                                            </select>
                                        </div>
                                    </div>`
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Sinh ngày:</label>
                                        <div class="col-md-5">
                                            <input class="form-control form-control-inline DatePicker" ng-model="phieusangloc.NgayGioSinh" size="16" type="text" value="" placeholder="Nhập ngày sinh" />
                                        </div>
                                        <label class="col-md-2 control-label">Vào lúc:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control TimePicker" ng-model="phieusangloc.NgayGioSinhTime">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Cân nặng:</label>
                                        <div class="col-md-5">
                                            <input type="number" class="form-control" ng-model="phieusangloc.CanNang">
                                        </div>
                                        <label class="col-md-2 control-label">Tuần tuổi:</label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" ng-model="phieusangloc.TuanTuoiKhiSinh">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Nơi sinh:</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" ng-model="phieusangloc.NoiSinh">
                                        </div>
                                        <label class="col-md-2 control-label">Dân tộc:</label>
                                        <div class="col-md-3">
                                            <select class="form-control" ng-model="phieusangloc.DanTocID" name="DanTocID" ng-options="option.IDDanToc as option.TenDanToc for option in dantoc">
                                                <option value="">Chọn....</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Tình trạng:</label>
                                        <div class="col-md-9">
                                            <div class="radio-list">
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" ng-value="0"> Bình thường
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" ng-value="1"> Bị bệnh
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" ng-value="2"> Dùng steroid
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" ng-value="3"> Dùng kháng sinh
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" ng-value="4"> Truyền máu
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Truyền lúc:</label>
                                        <div class="col-md-5">
                                            <input class="form-control form-control-inline  DatetimePicker" ng-model="phieusangloc.NgayTruyenMau" size="16" type="text" value="" placeholder="Nhập ngày" />
                                        </div>
                                        <label class="col-md-2 control-label">SL:</label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" ng-model="phieusangloc.SLTruyenMau">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Chế độ dd:</label>
                                        <div class="col-md-5">
                                            <div class="radio-list">
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="CheDoDinhDuong" ng-model="phieusangloc.CheDoDinhDuong" ng-value="0" checked> Bú mẹ
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="CheDoDinhDuong" ng-model="phieusangloc.CheDoDinhDuong" ng-value="1" checked> Bú bình
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="CheDoDinhDuong" ng-model="phieusangloc.CheDoDinhDuong" ng-value="2" checked> Tĩnh mạch
                                                </label>
                                            </div>
                                        </div>
                                        <label class="col-md-2 control-label">Vị trí lấy mẫu:</label>
                                        <div class="col-md-3">
                                            <div class="radio-list">
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="IDViTriLayMau" ng-model="phieusangloc.IDViTriLayMau" ng-value="0"> Gót chân
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="IDViTriLayMau" ng-model="phieusangloc.IDViTriLayMau" ng-value="1"> Tĩnh mạch
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="IDViTriLayMau" ng-model="phieusangloc.IDViTriLayMau" ng-value="2"> Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <hr />
                            <div class="form-horizontal" role="form">
                                <div class="form-body">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Gói XN:</label>
                                        <div class="col-md-9">
                                            <div class="radio-list">
                                                <label style="font-size:12px;" ng-repeat="item in goidichvu">
                                                    <input type="radio" name="MaGoiXN" ng-model="phieusangloc.MaGoiXN" value="{{item.IDGoiDichVuChung}}"> {{item.TenGoiDichVuChung}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <button class="btn btn-success" type="submit">Lưu</button>
                        <button class="btn btn-default" ui-sref="phieusangloc">Bỏ qua</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript">
    function generateBarcode() {
        var value = $("#maphieu").val();
        var btype = 'code128';
        var renderer = 'css';
        var quietZone = false;
        var settings = {
            output: renderer,
            bgColor: '#FFFFFF',
            color: '#000000',
            barWidth: '2',
            barHeight: '45',
            moduleSize: '5',
            posX: '10',
            posY: '20',
            addQuietZone: '1'
        };
        if (renderer == 'canvas') {
            clearCanvas();
            $("#barcodeTarget").hide();
            $("#canvasTarget").show().barcode(value, btype, settings);
        } else {
            $("#canvasTarget").hide();
            $("#barcodeTarget").html("").show().barcode(value, btype, settings);
        }
    }
    function showConfig1D() {
        $('.config .barcode1D').show();
        $('.config .barcode2D').hide();
    }
    function showConfig2D() {
        $('.config .barcode1D').hide();
        $('.config .barcode2D').show();
    }
    function clearCanvas() {
        var canvas = $('#canvasTarget').get(0);
        var ctx = canvas.getContext('2d');
        ctx.lineWidth = 1;
        ctx.lineCap = 'butt';
        ctx.fillStyle = '#FFFFFF';
        ctx.strokeStyle = '#000000';
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.strokeRect(0, 0, canvas.width, canvas.height);
    }
    $(function () {
        $('input[name=btype]').click(function () {
            if ($(this).attr('id') == 'datamatrix') showConfig2D(); else showConfig1D();
        });
        generateBarcode();
    });

    $(document).ready(function () {
        $('#maphieu').keyup(function () {
            generateBarcode();
        });
    });

    $(document).ready(function () {
        $('.DatePicker').datepicker({
            format: "dd/mm/yyyy",
            forceParse: false
        });
        $('.TimePicker').clockpicker();
        $('.DatetimePicker').datetimepicker({
            format: "dd/mm/yyyy hh:ii"
        });
    });
</script>
