<div class="form-horizontal">
    <br />
    <h4>Đổi mật khẩu</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">Mật khẩu cũ:</label>
        <div class="col-md-10">
            <input class="form-control" type="password" placeholder="Nhập mật khẩu cũ" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Mật khẩu mới:</label>
        <div class="col-md-10">
            <input class="form-control" type="password" placeholder="Nhập mật khẩu mới" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nhập lại mật khẩu mới:</label>
        <div class="col-md-10">
            <input class="form-control" type="password" placeholder="Nhập lại mật khẩu mới" />
        </div>
    </div>
    <div class="form-group" id="btn">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn"><span>Xác nhận</span></button>
            <button class="btn"><span>Huỷ bỏ</span></button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>