<div class="form-horizontal">
    <br />
    <h4>THÔNG TIN GIA ĐÌNH</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">Tên Mẹ:</label>
        <div class="col-md-4">
            <label class="control-label">Tên của mẹ</label>
        </div>
        <label class="control-label col-md-2">Tên Cha:</label>
        <div class="col-md-4">
            <label class="control-label">Tên của cha</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Năm Sinh:</label>
        <div class="col-md-4">
            <label class="control-label">Năm sinh của mẹ</label>
        </div>
        <label class="control-label col-md-2">Năm Sinh:</label>
        <div class="col-md-4">
            <label class="control-label">Năm sinh của cha</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Số DT:</label>
        <div class="col-md-4">
            <label class="control-label">Số điện thoại của mẹ</label>
        </div>
        <label class="control-label col-md-2">Số DT:</label>
        <div class="col-md-4">
            <label class="control-label">Số điện thoại của cha</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Địa Chỉ:</label>
        <div class="col-md-10">
            <label class="control-label">Địa chỉ</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">PP Sinh:</label>
        <div class="col-md-10">
            <label class="control-label">PP Sinh 1</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">PARA:</label>
        <div class="col-md-10">
            <label class="control-label">PARA</label>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <br />
    <h4>THÔNG TIN ĐƠN VỊ</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">Nơi lấy mẫu:</label>
        <div class="col-md-10">
            <label class="control-label">Nơi lấy mẫu</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Địa Chỉ:</label>
        <div class="col-md-10">
            <label class="control-label">Địa chỉ</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Người Lấy Mẫu:</label>
        <div class="col-md-4">
            <label class="control-label">Người lấy mẫu</label>
        </div>
        <label class="control-label col-md-2">Số ĐT:</label>
        <div class="col-md-4">
            <label class="control-label">Số điện thoại</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Người lấy mẫu:</label>
        <div class="col-md-4">
            <label class="control-label">Người lấy mẫu</label>
        </div>
        <label class="control-label col-md-2">Vào lúc:</label>
        <div class="col-md-4">
            <label class="control-label">Vào lúc</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">M.Phiếu lần 1:</label>
        <div class="col-md-10">
            <label class="control-label">M.Phiếu lần 1</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Mã Phiếu:</label>
        <div class="col-md-10">
            <label class="control-label">Mã phiếu</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Đơn vị</label>
        <div class="col-md-10">
            <label class="control-label">Đơn vị</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Chương trình</label>
        <div class="col-md-10">
            <label class="control-label">Chương trình</label>
        </div>
    </div>
</div>
<div class="form-horizontal">
    <br />
    <h4>THÔNG TIN TRẺ</h4>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">Tên Trẻ:</label>
        <div class="col-md-10">
            <label class="control-label">Tên của trẻ</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Giới tính:</label>
        <div class="col-md-10">
            <label class="control-label">Giới tính</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Sinh ngày:</label>
        <div class="col-md-4">
            <label class="control-label">Sinh ngày</label>
        </div>
        <label class="control-label col-md-2">Vào lúc:</label>
        <div class="col-md-4">
            <label class="control-label">Vào lúc</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Cân nặng:</label>
        <div class="col-md-4">
            <label class="control-label">Cân nặng</label>
        </div>
        <label class="control-label col-md-2">Tuần tuổi:</label>
        <div class="col-md-4">
            <label class="control-label">Tuần tuổi</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nơi sinh:</label>
        <div class="col-md-4">
            <label class="control-label">Nơi sinh</label>
        </div>
        <label class="control-label col-md-2">Dân tộc:</label>
        <div class="col-md-4">
            <label class="control-label">Dân tộc</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Tình Trạng:</label>
        <div class="col-md-10">
            <label class="control-label">Tình trạng</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Truyền lúc:</label>
        <div class="col-md-4">
            <label class="control-label">Truyền lúc</label>
        </div>
        <label class="control-label col-md-2">SL:</label>
        <div class="col-md-4">
            <label class="control-label">SL</label>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Chế độ dd:</label>
        <div class="col-md-4">
            <label class="control-label">Chế độ dinh dưỡng</label>
        </div>
        <label class="control-label col-md-2">Vị trí lấy mẫu:</label>
        <div class="col-md-4">
            <label class="control-label">Vị trí lấy mẫu</label>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label class="control-label col-md-2">Gói XN:</label>
        <div class="col-md-10">
            <label class="control-label">Gói XN</label>
        </div>
    </div>
</div>
