
<div class="row" style="align-content:center;">
    <div class="col-md-10">
        <div class="portlet light borderless" style="background-color:rgb(43, 242, 242)">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">Thông tin phiếu</span>
                </div>
            </div>
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-3">
                                        <div id="barcodeTarget" class="barcodeTarget"></div>
                                        <canvas id="canvasTarget" width="150" height="150"></canvas>
                                    </div>
                                    <label class="col-md-3 control-label">Mã phiếu:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="maphieu" name="maphieu" ng-model="phieusangloc.IDPhieu" required class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-md-3 col-md-offset-3 control-label">Đơn vị:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="maphieu" name="maphieu" ng-model="phieusangloc.MaDVCS" required class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group form-group-sm">
                                    <label class="col-md-3 col-md-offset-3 control-label">Chương trình:</label>
                                    <div class="col-md-6">

                                        <input type="text" id="maphieu" name="maphieu" ng-model="phieusangloc.IDChuongTrinh" required class="form-control" readonly>

                                        <input type="hidden" name="phieusangloc.IDChuongTrinh" ng-model="phieusangloc.IDChuongTrinh" readonly>
                                        <!-- <select class="form-control" ng-model="phieusangloc.IDChuongTrinh" name="IDChuongTrinh" ng-options="option.IDChuongTrinh as option.TenChuongTrinh for option in chuongtrinh"> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <form role="form" name="frmAddPhieuSangLoc" ng-submit="AddPhieuSangLoc()">
                    
                    <div class="row">
                        <div class="col-md-6">
                            <hr />
                            <i class="icon-social-dribbble font-blue-sharp"></i>
                            <span class="caption-subject font-blue-sharp bold uppercase">Thông tin gia đình</span>
                            <br />
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Tên mẹ:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc." readonly>
                                        </div>
                                        <label class="col-md-2 control-label">Tên cha:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.FatherName" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Năm sinh:</label>
                                        <div class="col-md-4">
                                            <input class="form-control" ng-model="phieusangloc.MotherBirthday" size="16" type="text" value="" readonly/>
                                        </div>
                                        <label class="col-md-2 control-label">Năm sinh:</label>
                                        <div class="col-md-4">
                                            <input class="form-control" ng-model="phieusangloc.FatherBirthday" size="16" type="text" value="" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Số ĐT:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.MotherPhoneNumber" readonly>
                                        </div>
                                        <label class="col-md-2 control-label">Số ĐT:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.FatherPhoneNumber" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Địa chỉ:</label>
                                        <div class="col-md-10">
                                            <input type="text" name="diachi" ng-model="phieusangloc.DiaChi" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">PP sinh:</label>
                                        <div class="col-md-10">
                                            <input type="text" name="diachi" ng-model="phieusangloc.PhuongPhapSinh" class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">PARA:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" ng-model="phieusangloc.Para" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <i class="icon-social-dribbble font-blue-sharp"></i>
                            <span class="caption-subject font-blue-sharp bold uppercase">Thông tin đơn vị</span>
                            <br />
                            <br />
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">Nơi lấy mẫu:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="phieusangloc.NoiLayMau" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">Địa chỉ:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="phieusangloc.DiaChiLayMau" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">Người lấy mẫu:</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" ng-model="phieusangloc.TenNhanVienLayMau" readonly>
                                        </div>
                                        <label class="col-md-2 control-label">SĐT:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" ng-model="phieusangloc.SDTNhanVienLayMau" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">Ngày lấy mẫu:</label>
                                        <div class="col-md-4">
                                            <input class="form-control form-control" ng-model="phieusangloc.NgayGioLayMau" size="16" type="text" value="" readonly />
                                        </div>
                                        <label class="col-md-2 control-label">Vào lúc:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" ng-model="phieusangloc.NgayGioLayMauTime" value="" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-3 control-label">M.Phiếu lần 1:</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="phieusangloc.IDPhieuLan1" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <hr />
                            <i class="icon-social-dribbble font-blue-sharp"></i>
                            <span class="caption-subject font-blue-sharp bold uppercase">Thông tin trẻ</span>
                            <br />
                            <br />
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Tên trẻ:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" ng-model="phieusangloc.TenBenhNhan" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Giới tính:</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" ng-model="phieusangloc.GioiTinh" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Sinh ngày:</label>
                                        <div class="col-md-5">
                                            <input class="form-control" ng-model="phieusangloc.NgayGioSinh" size="16" type="text" value="" readonly />
                                        </div>
                                        <label class="col-md-2 control-label">Vào lúc:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" ng-model="phieusangloc.NgayGioSinhTime" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Cân nặng:</label>
                                        <div class="col-md-5">
                                            <input type="number" class="form-control" ng-model="phieusangloc.CanNang" readonly>
                                        </div>
                                        <label class="col-md-2 control-label">Tuần tuổi:</label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" ng-model="phieusangloc.TuanTuoiKhiSinh" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Nơi sinh:</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" ng-model="phieusangloc.NoiSinh" readonly>
                                        </div>
                                        <label class="col-md-2 control-label">Dân tộc:</label>
                                        <div class="col-md-3">
                                            <input class="form-control" ng-model="phieusangloc.DanTocID" name="DanTocID" ng-options="option.IDDanToc as option.TenDanToc for option in dantoc" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Tình trạng:</label>
                                        <div class="col-md-9">
                                            <div class="radio-list" readonly>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" value="0" disabled> Bình thưởng
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" value="1" disabled> Bị bệnh
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" value="2" disabled> Dùng steroid
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" value="3" disabled> Dùng kháng sinh
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="TinhTrangLucLayMau" ng-model="phieusangloc.TinhTrangLucLayMau" value="4" disabled> Truyền máu
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Truyền lúc:</label>
                                        <div class="col-md-5">
                                            <input class="form-control" ng-model="phieusangloc.NgayTruyenMau" size="16" type="text" value="" readonly />
                                        </div>
                                        <label class="col-md-2 control-label">SL:</label>
                                        <div class="col-md-3">
                                            <input type="number" class="form-control" ng-model="phieusangloc.SLTruyenMau" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-md-2 control-label">Chế độ dd:</label>
                                        <div class="col-md-5">
                                            <div class="radio-list">
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="CheDoDinhDuong" ng-model="phieusangloc.CheDoDinhDuong" value="0" disabled> Bú mẹ
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="CheDoDinhDuong" ng-model="phieusangloc.CheDoDinhDuong" value="1" disabled> Bú bình
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="CheDoDinhDuong" ng-model="phieusangloc.CheDoDinhDuong" value="2" disabled> Tĩnh mạch
                                                </label>
                                            </div>
                                        </div>
                                        <label class="col-md-2 control-label">Vị trí lấy mẫu:</label>
                                        <div class="col-md-3">
                                            <div class="radio-list">
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="IDViTriLayMau" ng-model="phieusangloc.IDViTriLayMau" value="0" disabled> Gót chân
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="IDViTriLayMau" ng-model="phieusangloc.IDViTriLayMau" value="1" disabled> Tĩnh mạch
                                                </label>
                                                <label style="font-size:12px;">
                                                    <input type="radio" name="IDViTriLayMau" ng-model="phieusangloc.IDViTriLayMau" value="2" disabled> Khác
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <hr />
                            <div class="form-horizontal" role="form">
                                <div class="form-body">
                                    <div class="form-group form-group-sm">
                                  
                                        <div class="col-md-9">
                                            <div class="radio-list">
                                                <label style="font-size:12px;" ng-repeat="item in goidichvu">
                                                    <input type="radio" name="MaGoiXN" ng-model="phieusangloc.MaGoiXN" value="{{item.IDGoiDichVuChung}}"> {{item.TenGoiDichVuChung}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <!--Button-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE LEVEL SCRIPTS -->
<script type="text/javascript">
    function generateBarcode() {
        var value = $("#maphieu").val();
        var btype = 'code128';
        var renderer = 'css';
        var quietZone = false;
        var settings = {
            output: renderer,
            bgColor: '#FFFFFF',
            color: '#000000',
            barWidth: '2',
            barHeight: '45',
            moduleSize: '5',
            posX: '10',
            posY: '20',
            addQuietZone: '1'
        };
        if (renderer == 'canvas') {
            clearCanvas();
            $("#barcodeTarget").hide();
            $("#canvasTarget").show().barcode(value, btype, settings);
        } else {
            $("#canvasTarget").hide();
            $("#barcodeTarget").html("").show().barcode(value, btype, settings);
        }
    }
    function showConfig1D() {
        $('.config .barcode1D').show();
        $('.config .barcode2D').hide();
    }
    function showConfig2D() {
        $('.config .barcode1D').hide();
        $('.config .barcode2D').show();
    }
    function clearCanvas() {
        var canvas = $('#canvasTarget').get(0);
        var ctx = canvas.getContext('2d');
        ctx.lineWidth = 1;
        ctx.lineCap = 'butt';
        ctx.fillStyle = '#FFFFFF';
        ctx.strokeStyle = '#000000';
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        ctx.strokeRect(0, 0, canvas.width, canvas.height);
    }
    $(function () {
        $('input[name=btype]').click(function () {
            if ($(this).attr('id') == 'datamatrix') showConfig2D(); else showConfig1D();
        });
        generateBarcode();
    });

    $(document).ready(function () {
        $('#maphieu').keyup(function () {
            generateBarcode();
        });
    });

    $(document).ready(function () {
        $('.DatePicker').datepicker({
            format: "dd/mm/yyyy"
        });
        $('.TimePicker').clockpicker();
        $('.DatetimePicker').datetimepicker({
            format: "dd/mm/yyyy hh:ii"
        });
    });
</script>
