<div class="page-content-fixed-header">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:;">Tài khoản</a>
        </li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">Thay đổi mật khẩu người dùng {{authentication.userName}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" role="form" novalidate name="frmChangePass" ng-submit="UpdatechangePass()">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Mật khẩu cũ:</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" required name="PassOld" ng-model="account.PasswordOld" placeholder="Nhập mật khẩu cũ">
                                <span ng-show="frmChangePass.PassOld.$touched && frmChangePass.PassOld.$invalid" class="color-red">Phải nhập mật khẩu cũ</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Mật khẩu mới:</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" ng-minlength="6" required name="PassNew" ng-model="account.PasswordNew" placeholder="Nhập mật khẩu mới">
                                <span ng-show="frmChangePass.PassNew.$touched && frmChangePass.PassNew.$invalid" class="color-red">Phải nhập mật khẩu mới và tối thiểu 6 ký tự</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nhập lại mật khẩu mới:</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" required name="PassConfirm" ng-model="account.PasswordConfirm" ng-required="PassConfirm && !PassNew" password-verify="PassNew"   placeholder="Nhập lại mật khẩu mới">
                                <span ng-show="frmChangePass.PassConfirm.$invalid" class="color-red">Phải nhập lại mật khẩu mới</span>
                                <span ng-show="account.PasswordConfirm !== account.PasswordNew" class="color-red">Nhập lại mật khẩu không trùng</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a ui-sref="home" class="btn btn-default">Hủy bỏ</a>
                                <input type="submit" ng-disabled="frmChangePass.$invalid || account.PasswordConfirm !== account.PasswordNew" class="btn btn-primary" value="Lưu lại" />
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div>
        </div>
    </div>
</div>