<div class="page-content-fixed-header">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:;">Quản trị</a>
        </li>
        <li>
            <a ui-sref="application_roles">Quyền người dùng</a>
        </li>
        <li>Chỉnh sửa quyền người dùng</li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-blue-sharp"></i>
                    <span class="caption-subject font-blue-sharp bold uppercase">Chỉnh sửa quyền người dùng</span>
                </div>
            </div>
            <div class="portlet-body">
                <form class="form-horizontal" role="form" novalidate name="frmUpdateAppRole" ng-submit="updateApplicationRole()">
                    <div class="form-body">
                        <div class="form-group" ng-class="{ 'has-error' : frmUpdateAppRole.name.$invalid && !frmUpdateAppRole.name.$pristine }">
                            <label class="col-sm-2 control-label">Tên quyền</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control"
                                       required reqired-message="Tên quyền bắt buộc." ng-model="role.Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Mô tả</label>
                            <div class="col-sm-10">
                                <textarea type="text" class="form-control" ng-model="role.Description"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <a ui-sref="application_roles" class="btn btn-default">Hủy bỏ</a>
                                <input type="submit" ng-disabled="frmUpdateAppRole.$invalid" class="btn btn-primary" value="Lưu lại" />
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div>
        </div>
    </div>
</div>
