 <div class="page-content-fixed-header">
    <ul class="page-breadcrumb">
        <li>
            <a href="javascript:;">Quản trị</a>
        </li>
        <li>
            <a ui-sref="application_roles">Quyền người dùng</a>
        </li>
        <li>Danh sách quyền người dùng</li>
    </ul>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                    <button class="btn sbold green" style="margin-bottom:10px;" ui-sref="add_application_role">
                        Thêm mới
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div style="float:left">
                    <label>
                        Show:
                        <select ng-model="number" class="form-control input-inline" ng-change="search()">
                            <option ng-value="5">5</option>
                            <option ng-value="10">10</option>
                            <option ng-value="20">20</option>
                            <option ng-value="50">50</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control input-inline" name="keyword" ng-model="keyword" placeholder="Từ khóa">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="search" type="button" ng-click="search()">Tìm kiếm</button>
                    </span>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-hover" id="sample_1">
            <thead>
                <tr>
                    <th style="width:15%">Tên quyền</th>
                    <th style="width: 75%">Mô tả</th>
                    <th style="width: 10%">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in data">
                    <td><a ui-sref="edit_application_role({id:item.Id})">{{item.Name}}</a></td>
                    <td>
                        {{item.Description}}
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary" ui-sref="edit_application_role({id:item.Id})"><i class="fa fa-pencil"></i></button>
                        <button class="btn  btn-sm btn-danger" ng-click="deleteItem(item.Id)"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="search(page)"></pager-directive>
    </div>
</div>
<script>
    $('input[name="keyword"]').keypress(function (e) {
        if (e.which == 13) {
            $('#search').click();
        }
    });
</script>
